<ion-view view-title="Proof of Concept Ionic App">
  <ion-content class="padding">
    <h2>Proof of Concept Conference</h2>
    <p>
      This mobile app is a proof of concept of how you can use Ionic v1 and MapBox to develop hybrid mobile apps that
      looks like native mobile apps!
    </p>
    <p>
      In the 'Events I want to assist' page you can see how Ionic can render lists of data retrieved from the server using AngularJS features
      like $http service and promises and how it includes native gestures, interactions and animations.
    </p>
    <p>
      In the 'Location' page you can see how you can include MapBox maps to your app and include their features like
      geolocation and navigation with driving, walking and cycling indications.
    </p>
  </ion-content>
</ion-view>
